<% content_for :title do %>Acerca de.<% end %>
<h3>Acerca de Jesus Marin</h3>
<p>T.S.U en Informática - Mención Desempleado, programador Junior Ruby/Rails, SysAdmin cuando tengo servidor y usuario Linux.</p>
